@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0 2% 15%;
    background-color: #fd2222;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #270000;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.sobre {
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px
}

.sobre__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

.sobre__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    text-align: left;
    align-items: flex-start;
}

.sobre__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: left;
}

.rodape {
    color: black;
    background-color: #fd2222;
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}